<h3>Contact Us Data</h3>

<!-- Display existing form data -->
<table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Contact No</th>
      <!-- <th>Subject</th> -->
      <!-- <th>EnquiryType</th> -->
      <th>Message</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let formData of filteredCarrosalData.slice(pageIndex * pageSize, (pageIndex + 1) * pageSize); let i = index">
      <td>{{ i + 1 + pageIndex * pageSize }}</td>
      <td>{{ formData.name }}</td>
      <td>{{ formData.email }}</td>
      <td>{{ formData.contact }}</td>
      <!-- <td>{{ formData.subject }}</td> -->
      <!-- <td>{{ formData.enquiryType }}</td> -->
      <td>{{ formData.message }}</td>
      <!-- <td><button (click)="deleteFormData(formData.id)">Delete</button></td> -->
      <td><button class="btn btn-danger" (click)="onDelete(formData.id)">Delete</button></td>
    </tr>
  </tbody>
</table>
<mat-paginator [length]="filteredCarrosalData.length" [pageSize]="pageSize"  (page)="onPageChange($event)">
</mat-paginator>